<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lutein.name %>
  <%= @lutein.name %>
  

</p>

<p>
  <strong>Description:</strong>
  <%= @lutein.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @lutein.picture %>
</p>

<p>
  <strong>Commend:</strong>
  <%= @lutein.commend %>
</p>

<%= link_to 'Edit', edit_lutein_path(@lutein) %> |
<%= link_to 'Back', luteins_path %>
